section.dashboard {
  padding: 5rem;
  & hr {
    margin: 3rem auto;
  }
  & .wrapper {
    & > h1 {
      font-size: 4rem;
      margin-bottom: 3rem;
    }
    & h2 {
      font-size: 2.2rem;
      margin-bottom: 1rem;
    }
    & .informations {
      color: $white-color;
      background-color: $black-color;
      padding: 2rem;
      border-radius: 1rem;
      font-size: 1.8rem;
      & ul {
        & li {
          margin-bottom: 1rem;
        }
      }
    }
    & .myorders {
      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        font-size: 1.5rem;
        th,
        td {
          border: 1px solid #fff;
          padding: 8px;
          text-align: left;
          color: #fff;
        }
        th {
          color: #fff;
          background-color: $black-color; // Replace $black-color with your actual color variable
        }
        tbody {
          tr {
            background-color: $black-color;
          }
          td {
            &:first-child {
              border-left: 0;
            }
            &:last-child {
              border-right: 0;
            }
          }
        }
      }
    }
  }
  & .Btn {
    margin-top: 7rem;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: $black-color;
    color: $white-color;
    cursor: pointer;
    padding: 1rem 2rem;
  }
}
