.Btn {
  border-radius: 2rem;
  outline: none;
  border: none;
  padding: 0 2rem;
  cursor: pointer;
}

.titre {
  font-size: 8rem;
  text-align: center;
  margin: 5rem auto;
}

.copyright {
  text-align: center;
  margin-bottom: 1rem;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $black-color;
  transform-origin: left;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $black-color;
  transform-origin: right;
}

.mouse {
  width: 50px;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 2px;
  pointer-events: none;
  z-index: 1000;
  transform-origin: center;
  transition: scale 0.3s ease;
  background-color: black;
  display: none;
  justify-content: center;
  align-items: center;
  & .clickToCommand {
    rotate: 270deg;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
  }
}

.Toastify__toast-body {
  font-size: 1.5rem;
  font-weight: bold;
}

.spacer {
  min-height: 5vh;
  min-width: 100vw;
}
